<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find transbot_bringup)/config/costmap_common.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find transbot_bringup)/config/costmap_common.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find transbot_bringup)/config/local_costmap.yaml" command="load"/>
    <rosparam file="$(find transbot_bringup)/config/global_costmap.yaml" command="load"/>
    <rosparam file="$(find transbot_bringup)/config/base_local_planner.yaml" command="load"/>

    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <param name="controller_frequency" value="5.0"/>
    <param name="planner_frequency" value="1.0"/>

    <remap from="odom" to="/odom"/>
    <remap from="map" to="/grid_map"/>

  </node>
</launch>
