<launch>
  <!-- Transbot SE: Localization + Navigation -->
  <!-- Run this INSTEAD of realsense_slam.launch once you have a saved map -->
  <!-- Loads existing ~/.ros/rtabmap.db and localizes within it, no new mapping -->

  <arg name="database_path" default="~/.ros/rtabmap.db"/>
  <arg name="frame_id"      default="base_footprint"/>

  <!-- Static TF: base_footprint -> camera_link -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_camera"
        args="0.0484 0 0.10403 0 0 0 /base_footprint /camera_link 30"/>

  <!-- RealSense D435 driver -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth"       value="true"/>
    <arg name="color_width"       value="640"/>
    <arg name="color_height"      value="480"/>
    <arg name="color_fps"         value="30"/>
    <arg name="depth_width"       value="640"/>
    <arg name="depth_height"      value="480"/>
    <arg name="depth_fps"         value="30"/>
    <arg name="enable_pointcloud" value="false"/>
  </include>

  <!-- rtabmap in localization mode -->
  <node pkg="rtabmap_ros" type="rtabmap" name="rtabmap" output="screen" args="">
    <param name="database_path"         value="$(arg database_path)"/>
    <param name="frame_id"              value="$(arg frame_id)"/>
    <param name="odom_frame_id"         value="odom"/>
    <param name="subscribe_depth"       value="true"/>
    <param name="subscribe_rgb"         value="true"/>
    <param name="subscribe_rgbd"        value="false"/>
    <param name="subscribe_scan"        value="false"/>
    <param name="approx_sync"           value="true"/>

    <!-- Localization mode: don't add new nodes to the map -->
    <param name="Mem/IncrementalMemory" value="false"/>
    <param name="Mem/InitWMWithAllNodes" value="true"/>

    <remap from="rgb/image"       to="/camera/color/image_raw"/>
    <remap from="rgb/camera_info" to="/camera/color/camera_info"/>
    <remap from="depth/image"     to="/camera/aligned_depth_to_color/image_raw"/>
    <remap from="odom"            to="/odom"/>

    <param name="Reg/Force3DoF"             value="true"/>
    <param name="Reg/Strategy"              value="1"/>
    <param name="Vis/MinInliers"            value="15"/>
    <param name="Vis/MaxFeatures"           value="600"/>
    <param name="RGBD/AngularUpdate"        value="0.05"/>
    <param name="RGBD/LinearUpdate"         value="0.05"/>
    <param name="Rtabmap/TimeThr"           value="700"/>
    <param name="Grid/CellSize"             value="0.05"/>
    <param name="Grid/RangeMax"             value="3.0"/>
  </node>

  <!-- move_base for autonomous navigation -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find transbot_bringup)/config/costmap_common.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find transbot_bringup)/config/costmap_common.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find transbot_bringup)/config/local_costmap.yaml"  command="load"/>
    <rosparam file="$(find transbot_bringup)/config/global_costmap.yaml" command="load"/>
    <rosparam file="$(find transbot_bringup)/config/base_local_planner.yaml" command="load"/>

    <param name="base_local_planner"   value="dwa_local_planner/DWAPlannerROS"/>
    <param name="controller_frequency" value="5.0"/>
    <param name="planner_frequency"    value="1.0"/>

    <remap from="odom" to="/odom"/>
    <remap from="map"  to="/grid_map"/>
  </node>

</launch>

